body{
margin:0;
font-family:Segoe UI;
background:#F1F2F5;
}

/* LAYOUT */

.layout{
display:flex;
height:100vh;
}

/* SIDEBAR */

.sidebar{
width:240px;
background:#06061B;
color:white;
padding:20px;
display:flex;
flex-direction:column;
}

.logo{
font-size:20px;
margin-bottom:25px;
}

.menu{
list-style:none;
padding:0;
}

.menu li{
padding:12px;
margin-bottom:6px;
border-radius:6px;
color:#BFC7D5;
cursor:pointer;
display:flex;
gap:10px;
}

.menu li.active{
background:#078CAC;
color:white;
}

/* MAIN */

.main{
flex:1;
}

/* NAVBAR */

.navbar{
background:white;
padding:15px 25px;
display:flex;
justify-content:space-between;
border-bottom:1px solid #eee;
}

.breadcrumb{
color:#505168;
font-size:14px;
}

/* CONTENT */

.content{
padding:25px;
}

/* HEADER */

.header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.header h2{
margin:0;
}
.title-with-icon{
display:flex;
align-items:center;
gap:10px;
}

/* STATS */

.stats{
display:flex;
gap:20px;
}

.stats div{
background:white;
padding:12px 20px;
border-radius:8px;
}

.stats span{
font-size:12px;
color:#505168;
}

/* FILTER */

.filter{
display:flex;
gap:10px;
margin-bottom:20px;
}

.search{
display:flex;
align-items:center;
background:white;
border:1px solid #ddd;
padding:8px 10px;
border-radius:6px;
flex:1;
}

.search input{
border:none;
outline:none;
margin-left:8px;
width:100%;
}

.filter select,
.filter input{
padding:8px;
border-radius:6px;
border:1px solid #ddd;
}

.filter button{
background:#078CAC;
color:white;
border:none;
padding:8px 15px;
border-radius:6px;
}

/* TABLE */

.table-box{
background:white;
border-radius:10px;
padding:15px;
}

table{
width:100%;
border-collapse:collapse;
}

th{
text-align:left;
font-size:13px;
color:#505168;
padding-bottom:10px;
}

td{
padding:12px 0;
border-top:1px solid #eee;
}

td p{
margin:0;
font-size:12px;
color:#999;
}

/* STATUS */

.status{
padding:5px 10px;
border-radius:20px;
font-size:12px;
color:white;
}

.sent{background:#1A7BA7;}
.draft{background:#505168;}
.closed{background:#063C66;}
.scheduled{background:#07628A;}

/* ACTIONS */

.actions i{
margin-right:10px;
cursor:pointer;
color:#303950;
}

/* QUICK */

.quick{
position:fixed;
right:25px;
bottom:25px;
background:white;
padding:15px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.15);
width:200px;
}

.quick a{
color:#078CAC;
font-size:13px;
}