*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:system-ui;
}

body{

background:#F1F2F5;
color:#303950;

}

.layout{

display:flex;
height:100vh;

}

/* SIDEBAR */

.sidebar{

width:240px;
background:#06061B;

display:flex;
flex-direction:column;
justify-content:space-between;

padding:20px;

}

.logo-area{

display:flex;
gap:10px;

}

.logo{

width: 200px;

}

.brand{
font-weight:700;
color:#063C66;
}

.sidebar nav{

display:flex;
flex-direction:column;
gap:15px;

margin-top:40px;

}

.sidebar nav a{

color:#F1F2F5;
text-decoration:none;

padding:10px;
border-radius:6px;

cursor:pointer;

}

.sidebar nav a.active{

background:#063C66;

}

.logout{

margin-top:auto;

cursor:pointer;

}

/* MAIN */

.main{

flex:1;
padding:30px;

overflow:auto;

}

/* TOPBAR */

.topbar{

display:flex;
justify-content:space-between;

margin-bottom:25px;

}

/* CONTENT */

.content{
padding:30px;
}

.desc{
color:#505168;
}

/* CARD */

.card{

background:white;
padding:25px;
border-radius:10px;
margin-top:20px;
box-shadow:0 4px 15px rgba(0,0,0,0.08);

}

.card-header{
display:flex;
justify-content:space-between;
align-items:center;
}

.draft-mini{
background:#e8f7fb;
border:none;
padding:6px 12px;
border-radius:6px;
color:#078CAC;
}

/* INPUT */

input, textarea{

width:100%;
padding:10px;
margin-top:5px;
margin-bottom:15px;
border-radius:6px;
border:1px solid #ddd;

}

/* EDITOR */

.editor{

border:1px solid #ddd;
border-radius:6px;

}

.toolbar{

padding:8px;
border-bottom:1px solid #ddd;

}

.toolbar button{
margin-right:5px;
}

.editor textarea{

border:none;
height:120px;

}

/* GRID */

.grid{

display:grid;
grid-template-columns:1fr 1fr;
gap:30px;

}

/* UNIVERSITIES */

.universities label{

display:block;
margin-bottom:6px;

}

/* PRIORITY */

.priority button{

padding:8px 14px;
border:none;
border-radius:6px;
margin-right:10px;
cursor:pointer;

}

.normal{background:#1A7BA7;color:white;}
.urgent{background:#07628A;color:white;}
.critical{background:#063C66;color:white;}

/* UPLOAD */

.upload{

border:2px dashed #078CAC;
padding:25px;
text-align:center;
border-radius:8px;
color:#505168;
cursor:pointer;

}

.upload input{
display:none;
}

/* ACTIONS */

.actions{

margin-top:20px;
display:flex;
justify-content:flex-end;
gap:10px;

}

.draft{

background:#505168;
color:white;
border:none;
padding:10px 18px;
border-radius:6px;

}

.send{

background:#078CAC;
color:white;
border:none;
padding:10px 18px;
border-radius:6px;

}

/* INFO BOXES */

.info-boxes{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;
margin-top:25px;

}

.info{

background:white;
padding:15px;
border-radius:8px;
font-size:13px;

}