*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:system-ui;
}

body{

background:#F1F2F5;
color:#303950;

}

.layout{

display:flex;
height:100vh;

}

/* SIDEBAR */

.sidebar{

width:240px;
background:#06061B;
color:white;

display:flex;
flex-direction:column;
justify-content:space-between;

padding:20px;

}

.logo{

font-size:22px;
font-weight:bold;

color:#078CAC;

}

.sidebar nav{

display:flex;
flex-direction:column;
gap:15px;

margin-top:40px;

}

.sidebar nav a{

color:#F1F2F5;
text-decoration:none;

padding:10px;
border-radius:6px;

cursor:pointer;

}

.sidebar nav a.active{

background:#063C66;

}

.logout{

margin-top:auto;

cursor:pointer;

}

/* MAIN */

.main{

flex:1;
padding:30px;

overflow:auto;

}

/* TOPBAR */

.topbar{

display:flex;
justify-content:space-between;

margin-bottom:25px;

}

/* STATS */

.stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

margin-bottom:20px;

}

.card{

background:white;

border-radius:12px;

padding:20px;

box-shadow:0 4px 10px rgba(0,0,0,.05);

}

.stat h3{

font-size:24px;
color:#063C66;

}

/* CHARTS */

.charts{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

margin-bottom:20px;

}

.chart{

height:300px;

}

/* BOTTOM */

.bottom{

display:grid;

grid-template-columns:2fr 1fr;

gap:20px;

}

.alert{

border:1px solid #078CAC;

padding:10px;

border-radius:8px;

margin-top:10px;

display:flex;
justify-content:space-between;

}

button{

background:#07628A;
color:white;

border:none;

padding:6px 12px;

border-radius:6px;

cursor:pointer;

}