*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:system-ui;
}

body{

background:#F1F2F5;
color:#303950;
}

.header{

display:flex;
justify-content:space-between;
align-items:center;

padding:5px 10px;

border-bottom:2px solid #dae1e3;
background:white;

}

.logo-area{

display:flex;
align-items:center;
gap:10px;

}

.logo{

width: 200px;

}

.brand{

font-weight:700;
color:#063C66;
font-size:18px;

}

.header-menu{

display:flex;
gap:30px;
color:#505168;
font-size:14px;

}
.language-icon{
    width: 15px;
}
.Support-icon{
    width: 15px;
}


/* Main */

.main{

display:flex;
justify-content:center;

padding-top:50px;

}



/* Card */

.card{

width:520px;

background:white;

padding:35px;

border-radius:12px;

box-shadow:0 10px 30px rgba(0,0,0,0.08);

}

.card h1{

text-align:center;
color:#063C66;

}

.subtitle{

text-align:center;

font-size:13px;

color:#505168;

margin:10px 0 20px;

}

.account-switch{

display:flex;
background:#F1F2F5;

border-radius:8px;
margin-bottom:20px;
border-right:10px;
}
.icon{
    width:15px;   
}

.account-switch button{

flex:1;

padding:10px;

border:none;

background:transparent;

cursor:pointer;

}

.account-switch .active{

background:white;
border-radius:8px;

color:#063C66;
font-weight:600;


box-shadow:0 2px 5px rgba(0,0,0,0.08);

}

/* Tabs */

.tabs{

display:flex;

background:#F1F2F5;

border-radius:8px;

margin-bottom:25px;

}


.tab{

flex:1;

padding:10px;

border:none;

background:transparent;

cursor:pointer;

}


.tab.active{

background:white;

color:#1A7BA7;

}



/* Sections */

.section-title{

margin-top:20px;

color:#04546C;

font-size:14px;

margin-bottom:10px;

}



/* FORM */

.form label{

font-size:12px;
color:#505168;
display:block;
text-align:left;
margin-bottom:8px;
font-weight:bold;

}


input{

width:100%;

padding:10px;

border:1px solid #ddd;

border-radius:6px;

margin-bottom:10px;

}


.row{

display:flex;

gap:15px;

}


.field{

flex:1;

}

.astric{
    color: #c0392b;
}


/* Alert */

.alert{

background:#fde2e2;

color:#c0392b;

padding:10px;

font-size:12px;

border-radius:6px;

margin-bottom:10px;

}



/* Button */

.create-btn{

width:100%;

padding:12px;

background:#078CAC;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-weight:bold;

margin-top:10px;

}



.create-btn:hover{

background:#07628A;

}



/* Login */

.login-link{

text-align:center;

margin-top:15px;

font-size:13px;

}



.login-link a{

color:#1A7BA7;

text-decoration:none;
font-weight: bold;

}



/* Footer */

.footer{

text-align:center;

margin-top:40px;

font-size:12px;

color:#505168;

}