*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:system-ui;
}

body{

background:#F1F2F5;
color:#303950;
}

.header{

display:flex;
justify-content:space-between;
align-items:center;

padding:5px 10px;

border-bottom:2px solid #dae1e3;
background:white;

}

.logo-area{

display:flex;
align-items:center;
gap:10px;

}

.logo{

width: 200px;

}

.brand{

font-weight:700;
color:#063C66;
font-size:18px;

}

.header-menu{

display:flex;
gap:30px;
color:#505168;
font-size:14px;

}
.language-icon{
    width: 15px;
}
.Support-icon{
    width: 15px;
}

.login-wrapper{

display:flex;
justify-content:center;
align-items:center;

height:80vh;

}

.login-card{

width:420px;
background:white;

border-radius:12px;

padding:40px;

box-shadow:0 10px 25px rgba(0,0,0,0.05);

text-align:center;
margin-top:40px;

}

.login-card h2{

color:#063C66;
margin-bottom:5px;

}

.subtitle{

font-size:13px;
color:#505168;

margin-bottom:20px;

}

.login-logo{

width: 200px;
margin-bottom:20px;

}

.label{
    font-size:12px;
    color:#505168;
    display:block;
    text-align:left;
    margin-bottom:8px;
    font-weight: bold;

}

.account-switch{

display:flex;
background:#F1F2F5;

border-radius:8px;
margin-bottom:20px;
border-right:10px;
}
.icon{
    width:15px;
    
}

.account-switch button{

flex:1;

padding:10px;

border:none;

background:transparent;

cursor:pointer;

}

.account-switch .active{

background:white;
border-radius:8px;

color:#063C66;
font-weight:600;


box-shadow:0 2px 5px rgba(0,0,0,0.08);

}

.input{

width:100%;

padding:12px;

border-radius:8px;

border:1px solid #ddd;

margin-bottom:16px;

}

.password-row{

display:flex;
justify-content:space-between;

font-size:13px;

margin-bottom:5px;

}
.forgot-password{
color:#1A7BA7;
font-weight:600;
}

.password-field{

position:relative;

}

.eye{

position:absolute;
right:10px;
top:12px;

cursor:pointer;

}

.remember{

display:flex;
align-items:center;

gap:6px;

font-size:13px;

margin-bottom:20px;

}

.login-btn{

width:100%;

background:#07628A;

color:white;

border:none;

padding:12px;

border-radius:8px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.login-btn:hover{

background:#04546C;

}

.divider{

margin:15px 0;

color:#505168;
font-size:12px;

}

.create{

font-size:13px;

}

.create a{

color:#1A7BA7;
font-weight:600;

}

.footer{

text-align:center;

padding:20px;

font-size:12px;

color:#505168;

display:flex;
justify-content:center;

gap:40px;

}

/* Email input with left icon */
.input-icon-wrapper{
    position:relative;
    margin-bottom:16px;
}
.input-icon{
    position:absolute;
    left:12px;
    top: 22px;
    transform:translateY(-50%);
    width:15px;
    height:auto;
    pointer-events:none;
    opacity:0.9;
}
.has-icon{
    padding-left:35px;
}
